<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - A Pen by Zach Dicken</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="destiny-app" v-for="item in cards">
  <div class="card" v-bind:class="item.color">
    <img v-bind:src="item.img">
    <div class="health">{{item.health}}</div>
    <div class="rarity rare" v-if="item.rarity">{{item.setNumber}}</div>
    <div class="rarity legendary" v-else>{{item.setNumber}}</div>
    <div class="name">{{item.name}}</div>
    <div class="affl" v-bind:class="{hero:item.affl==='hero'}">{{item.affl}}</div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
